@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
	body {
		background-color: #f3f5f9;
		@apply font-body;
	}

	a {
	  @apply text-blue-900;
	}

	svg.icon {
		width: 1em;
		height: 1em;		
		@apply fill-current;
		@apply inline;
	}
}

@layer components {
	.aside-bg {
		background-image: url(/flock.svg), radial-gradient(farthest-corner at 40% -10%, rgba(255,255,255,0.2) 0%, transparent 40%, transparent 100%);
		@apply bg-no-repeat;
		@apply bg-[length:200%];
		@apply bg-blend-luminosity;
	}
}